mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell .mat-header-cell {
  padding: 0.75rem !important;
}
.mat-list-base {
  padding-top: 0px !important;
}

.heading{
  background-color: #B3E5FC;
}

.card-body{
  border: 1px solid #B3E5FC
}

.customCard{
  color: rgb(0, 140, 255);
  max-width: 600px;
}

.mat-header-cell {
  background: blue;
  color: white;
  font-size: 16px;
  justify-content: center;
}

.mat-icon {
  font-size: 15px;
  padding-top: 4px;
  align-self: center;
}

/* Padding of each <mat-list-item> */
.mat-list-item-content {
  padding: 0px !important;
}

.loading1 {
  position: relative;
  margin-top: 50px;
  top: 35%;
  height: 31px;
  width: 31px;
}

.loading2 {
  height: 50px;
  width: 50px;
}

.mat-table{
  width: 100%;
}

.mat-column-sno{
  flex: 0 0 10%;
  justify-content: center;
}

.mat-column-created_at{
  flex: 0 0 15%;
  justify-content: center;
}

.mat-column-full_text{
  flex: 0 0 55%;
}

.mat-column-PhoneNo{
  flex: 0 0 20%;
}

.mat-row:nth-child(n+1){
  background-color: #d7eefd;
}
.mat-row:not(:nth-child(2n)){
  background-color:#ffffff;
}

.mat-row, .mat-header-row {  
  min-width: 1000px;  
  width: 100%;  
} 

.card1{
  margin-bottom: 8px;
}

.cardHeader{
  font-size: 16;
  font-weight: 500;
}