<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" href="about.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="about-main" class="bg-primary">
        <div class="jumbotron">
            <div class="jumbotron-inner">
                <div class="top-box">
                    <div class="content-box">
                        <h1 class="text-primary">
                            About India Covid Resources
                        </h1>
                        <p>
                            This Web Application has been developed keeping in mind the current situation that our coutry is facing. Fighting the crisis is of the utmost importace and we have tried to do our bit. <br /> Our main aim is to provide consolidated data from various trusted pages across major microblogging platforms like Twitter and Telegram.<br/>
                            Everybody has to perform their part for us to get over this pandemic at the earliest.<br/>
                        <br/><br/>
                        Jai Hind!!
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="img-layer-container">
                <div class="team-image" id="team-image">
                    <img src="https://apimatic.io/img/theme/aboutUs/images-1.png" />
                </div>

                <div class="circles-container">
                    <div class="img-1">
                        <img src="https://apimatic.io/img/theme/aboutUs/Circles-1-1.svg" />                        
                    </div>
                    <div class="img-2">
                        <img src="https://apimatic.io/img/theme/aboutUs/Circles-2-1.svg" />                        
                    </div>                    
                </div>           
            </div> -->
        </div>
    </div>

      
</body>
</html>