mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell .mat-header-cell {
  padding: 0.75rem !important;
}

.loading1 {
  position: relative;
  margin-top: 50px;
  top: 35%;
  height: 31px;
  width: 31px;
}

.loading2 {
  height: 50px;
  width: 50px;
}

.mat-table{
  width: 100%;
}

.mat-column-sno{
  flex: 0 0 10%;
}

.mat-column-created_at{
  flex: 0 0 20%;
}

.mat-column-full_text{
  flex: 0 0 50%;
}

.mat-column-PhoneNo{
  flex: 0 0 20%;
}