<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">COVID Resources</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLink]="homepage" class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="about" class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" aria-current="page">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <span *ngIf="lastUpdatedRec | async" class="navbar-text">
          last updated: {{lastUpdatedStr}}
        </span>
      </div>
    </div>
</nav>
<div class="text-center covid-banner">
  <div>
    <div class="row">
      <div class="col-md-3">
        Date: {{latestDayInfo?.date}}
      </div>
      <div class="col-md-3">
        Confirmed: {{latestDayInfo?.dailyconfirmed}}
      </div>
      <div class="col-md-3">
        Recovered: {{latestDayInfo?.dailyrecovered}}
      </div>
      <div class="col-md-3">
        Death: {{latestDayInfo?.dailydeceased}}
      </div>
    </div>
  </div>
  <!-- <h5 style="font-size: 20;">Date: {{latestDayInfo?.date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Confirmed: {{latestDayInfo?.dailyconfirmed}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Recovered: {{latestDayInfo?.dailyrecovered}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Death: {{latestDayInfo?.dailydeceased}}</h5> -->
</div>
<router-outlet></router-outlet>
